# macOS files
.DS_Store

# Python comfiled files
*.pyc
__pycache__/

# test scripts
dev_*
test_*
*~orig*

# Git files
.git/
.git*

# Bro files
.state/
contents/
extract_files/

# misc files
*.log
*.egg
*.whl
*.tar.gz
gitlab/
sample/*-big.pcap
test/
