# Auto detect text files and perform LF normalization
* text=auto
*.pcap filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.whl filter=lfs diff=lfs merge=lfs -text
pcapkit.log filter=lfs diff=lfs merge=lfs -text
extract_files/* filter=lfs diff=lfs merge=lfs -text
