[submodule "gitlab"]
	path = gitlab
	url = https://gitlab.sjtu.edu.cn:443/bysj/2019bysj.git
[submodule "vendor/zeek"]
	path = vendor/zeek
	url = https://github.com/zeek/zeek.git
[submodule "vendor/broker"]
	path = vendor/broker
	url = https://github.com/zeek/broker.git
[submodule "vendor/file-extraction"]
	path = vendor/file-extraction
	url = https://github.com/hosom/file-extraction.git
[submodule "vendor/tools/bro-phishing"]
	path = vendor/tools/bro-phishing
	url = https://github.com/hosom/bro-phishing.git
[submodule "vendor/tools/smtp-url-analysis"]
	path = vendor/tools/smtp-url-analysis
	url = https://github.com/initconf/smtp-url-analysis.git
