[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
ipython = "*"
pylint = "*"

[packages]
bro-pkg = "*"
python-magic = "*"
pandas = "*"
pypcapkit = {extras = ["dpkt"],version = ">=0.13.3.post2"}
requests-futures = "*"
peewee = "*"
pymysql = "*"

[requires]
python_version = "3.7"
