[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
ipython = "*"
pyinstaller = "*"
pylint = "*"

[packages]
bro-pkg = "*"
dataclasses = "*"
Flask = {extras = ["dotenv"],version = "*"}
mmbot = "*"
pandas = "*"
peewee = "*"
pefile = "*"
PyMySQL = "*"
pypcapkit = {extras = ["dpkt"],version = ">=0.13.3.post2"}
python-magic = "*"
PyYAML = "*"
requests-futures = "*"

[requires]
python_version = "3.7"
