[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "tuna"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[[source]]
name = "sjtu"
url = "https://mirrors.sjtug.sjtu.edu.cn/pypi/web/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
bandit = "*"
mypy = "*"
pylint = "*"
ipython = "*"
coverage = "*"
codecov = "*"
sphinx = "*"
esbonio = "*"
rstcheck = "*"
pyinstaller = "*"

[packages]
dataclasses = "*"
file-magic = "*"
Flask = {extras = ["dotenv"],version = "*"}
mmbot = "*"
pandas = "*"
PyYAML = "*"
yara = "*"
zlogging = "*"

[requires]
python_version = "3"
